<h4 style="margin-top: 30px" class="text-center">Register</h4>
<form class="col-3" [formGroup]="this.registerForm" (ngSubmit)="this.register()">
<div class="form-group">
<label for="username">Username</label>
<input class="form-control" id="username-input" placeholder="Username" formControlName="username">
</div>
<div *ngIf="this.username.invalid && this.username.dirty && this.username.value"
 class="alert alert-danger" role="alert">
  The user should have atleast than 5 symbols!
</div>
<div class="form-group">
  <label for="Password">Password</label>
  <input type="password" class="form-control" id="password-input" placeholder="Password" formControlName="password">
  </div>
  <div *ngIf="this.password.invalid && this.password.dirty && this.password.value"
   class="alert alert-danger" role="alert">
      The user should have atleast 3 symbols!
    </div>
<button type="submit" class="btn btn-primary"
[disabled]="!this.username.valid || !this.password.valid"
>Register
</button>
</form>
