<div class="container-fluid bg-light">
  <nav class="navbar navbar-expand-lg navbar-light">
    <!-- <a class="navbar-brand" routerLink="/home"><i class="fas fa-home"></i> Home</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="float-right">

      </div>
      <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="/recipes"><i class="fas fa-utensils"></i> RECIPES<span class="sr-only">(current)</span></a>
      </div>
    </div>
    <form class="form-inline">
      <div class="btn-group">
        <div class="navbar-nav" *ngIf="!isLogged">
          <a class="nav-item nav-link btn btn-outline-primary" routerLink="/login" routerLinkActive="active">Login <span
              class="sr-only">(current)</span></a>
        </div>
        <div class="navbar-nav" *ngIf="!isLogged">
          <a class="nav-item nav-link btn btn-outline-primary" routerLink="/register"
            routerLinkActive="active">Register <span class="sr-only">(current)</span></a>
        </div>
        <div class="navbar-nav" *ngIf="isLogged">
          <!-- <div class="nav-item nav-link" class="nav-link">
            {{this.user.username}}
          </div> -->
        </div>
        <div class="navbar-nav" *ngIf="isLogged">
          <a class="nav-item nav-link btn btn-outline-primary" class="nav-link btn btn-outline-primary" (click)="this.logout()">
            Logout <i class="fas fa-sign-out-alt"></i></a>
        </div>
      </div>

    </form>
  </nav>
</div>
