.modal-header {
  text-align: right;
}

.card {
  margin: 10px;
  padding: 5px;
}

.paginator {
  width: 150px;
}

.dropdown-menu {
  height: 300px;
  overflow: auto;
}
.food {
  width: 100%;
}

.btn-delete {
  border: 1px solid #FF5E5B;
  background: transparent;
  color: #FF5E5B;
}

.btn-delete:hover {
  cursor: pointer;
  background: #FF5E5B;
  color: #fff;
  transition: 0s all;
}
