<div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

      <div class="row text-center mt-2 p-2">
        <div class="col-5">
          <div ngbDropdown>
            <button class="btn btn-outline-primary food"  ngbDropdownToggle>
              <span *ngIf="selectedFoodGroup">{{selectedFoodGroup.description}}</span>
              <span *ngIf="!selectedFoodGroup">Select Food Group</span>
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem
              (click)="getAllProducts()">All Food Groups</button>
              <button ngbDropdownItem *ngFor="let foodGroup of foodGroups"
              (click)="filterProductsByFoodGroup(foodGroup)"> {{foodGroup.description}}</button>
            </div>
          </div>
        </div>
        <div class="col-5">
          <form [formGroup]="productForm">
          <input class="form-control" formControlName="searchField" type="text"
          placeholder="Search Products">
        </form>
        </div>
        <div>
          <button  type="button" class="btn btn-delete" (click)="clearFilters()">Clear filters</button>
        </div>
      </div>

      <div class="card shadow" *ngFor="let product of products">
        <div class="row d-flex align-items-center">
          <div class="col-9">{{product.description}}</div>
          <div class="col-3 text-right"><button class="btn btn-sm btn-primary"
            (click)="this.openSingleProductView(product.measures , product.code)"
            >Add to recipe</button></div>
        </div>
      </div>
      <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="collectionSize" [maxSize]="10"
        [boundaryLinks]="true" (pageChange)="pageChanged($event)"></ngb-pagination>
