<div class="row mx-5 p-2 bg-light body" *ngIf="recipe">
  <div class="col-12 mb-5">
    <h2 class="input-bottom d-inline pb-1">{{recipe.title}}</h2>
  </div>
  <div class="col-3 my-auto text-center">
    <img src="{{recipe.image}}">
  </div>
  <div class="col-3 my-auto">
    <span>Created on: {{recipe.date | date}}</span>
  </div>
  <div class="col-3 my-auto">
    <button class="btn gray-border" (click)="this.updateRecipe(recipe.id, recipe.type)">Update</button>
  </div>
  <div class="col-3 my-auto">
    <button class="btn btn-delete" (click)="this.deleteRecipe(recipe.id, recipe.type)">Delete</button>
  </div>
  <div class="col-6 pb-5">
    <h4 class="p-3" *ngIf="recipe.subRecipes">Sub recipes:</h4>
    <span *ngFor="let subRecipe of recipe.subRecipes">
          <span class="subRecipe" (click)="this.openSubRecipe(subRecipe.id, subRecipe.type)"><h5>{{subRecipe.title}}</h5></span>
    </span>
    <h4 class="p-3">Ingredients:</h4>
    <div *ngFor="let ingredient of recipe.ingredients">
      <div class="d-flex justify-content-between my-2">
        <span style="cursor: pointer" (click)="this.toggle(ingredient.productDescription)"><h6>{{ingredient.productDescription}}</h6></span> 
        <span class="float-right"><h6>{{ingredient.amount}}g</h6></span>
      </div>
      <div *ngIf="ingredientClicked && ingredient.productDescription === ingredientToShow">
      <div class="d-flex justify-content-between" *ngFor="let value of ingredient.nutrients">
        <span class="ml-4 float-left">{{value.description}}</span>
        <span>{{value.value.toFixed(0)}} {{value.unit}}</span>
      </div>
    </div>
    </div>
  </div>
  <div class="col-6 pb-5 nutritional-info-border">
    <h4>Total Nutritional Value:</h4>
    <div class="d-flex my-3 justify-content-between input-bottom">
      <span>
          {{recipe.recipeNutrition.ENERC_KCAL.description}}:
      </span>
      <span>
        {{recipe.recipeNutrition.ENERC_KCAL.value.toFixed(2)}} {{recipe.recipeNutrition.ENERC_KCAL.unit}}
      </span>
    </div>
    <div class="d-flex justify-content-between py-2 input-bottom">
      <span>
          {{recipe.recipeNutrition.PROCNT.description}}:
      </span>
      <span>
        {{recipe.recipeNutrition.PROCNT.value.toFixed(2)}} {{recipe.recipeNutrition.PROCNT.unit}}
      </span>
    </div>
    <div class="d-flex justify-content-between py-2 input-bottom">
      <span>
          {{recipe.recipeNutrition.FAT.description}}:
      </span>
      <span>
        {{recipe.recipeNutrition.FAT.value.toFixed(2)}} {{recipe.recipeNutrition.FAT.unit}}
      </span>
    </div>
    <div class="d-flex justify-content-between py-2 input-bottom">
      <span>
        Carbs:
      </span>
      <span>
        {{recipe.recipeNutrition.CHOCDF.value.toFixed(2)}} {{recipe.recipeNutrition.CHOCDF.unit}}
      </span>
    </div>
    <div class="d-flex justify-content-between py-2 input-bottom">
      <span>
          {{recipe.recipeNutrition.SUGAR.description}}:
      </span>
      <span>
        {{recipe.recipeNutrition.SUGAR.value.toFixed(2)}} {{recipe.recipeNutrition.SUGAR.unit}}
      </span>
    </div>
    <div class="d-flex justify-content-between py-2 input-bottom">
      <span>
          {{recipe.recipeNutrition.FIBTG.description}}:
      </span>
      <span>
        {{recipe.recipeNutrition.FIBTG.value.toFixed(2)}} {{recipe.recipeNutrition.FIBTG.unit}}
      </span>
    </div>
    <div class="d-flex justify-content-between py-2 input-bottom">
      <span>
          {{recipe.recipeNutrition.NA.description}}:
      </span>
      <span>
        {{recipe.recipeNutrition.NA.value.toFixed(2)}} {{recipe.recipeNutrition.NA.unit}}
      </span>
    </div>
    <div class="d-flex justify-content-between py-2 input-bottom">
      <span>
        {{recipe.recipeNutrition.P.description}}:
      </span>
      <span>
        {{recipe.recipeNutrition.P.value.toFixed(2)}} {{recipe.recipeNutrition.P.unit}}
      </span>
    </div>
    <div class="d-flex justify-content-between py-2 input-bottom">
      <span>
          {{recipe.recipeNutrition.VITD.description}}:
      </span>
      <span>
        {{recipe.recipeNutrition.VITD.value.toFixed(2)}} {{recipe.recipeNutrition.VITD.unit}}
      </span>
    </div>
    <div class="d-flex justify-content-between py-2 input-bottom">
      <span>
          {{recipe.recipeNutrition.FE.description}}:
      </span>
      <span>
        {{recipe.recipeNutrition.FE.value.toFixed(2)}} {{recipe.recipeNutrition.FE.unit}}
      </span>
    </div>
  </div>

</div>
