img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid #3A99FF;
}

.gray-border{
    border: 1px solid #3A99FF;
}

.btn{
    min-width: 13rem;
}

.nutritional-info-border{ 
    border-left: 1px solid #C0C7CA;
}
.body {
    margin-top: 30px;
    margin-bottom: 30px;
}
.subRecipe {
    cursor: pointer;
    color: blue;
}

.btn-delete {
    border: 1px solid #FF5E5B;
    background: #FF5E5B;
    color: #fff;
}

.btn-delete:hover {
    cursor: pointer;
    background: transparent;
    color: #FF5E5B;
    transition: 0s all;
}