.slider{
    width: 40%;
}
#quantity {
    margin-top: 16px;
    margin-right: 5px;
}

.btn-delete {
    border: 1px solid #FF5E5B;
    background: transparent;
    color: #FF5E5B;
}

.btn-delete:hover {
    cursor: pointer;
    background: #FF5E5B;
    color: #fff;
    transition: 0s all;
}