<div class="row mx-5 p-2 no-gutters">
  <button id="quantity" type="button" class="btn btn-gray btn-sm mr-1" routerLink="create">Add new
    recipe</button>
  <button id="quantity" type="button" class="btn btn-delete btn-sm mr-1" (click)="this.clearFilters()"
    *ngIf="this.recipesToPassDown.length > 0">Clear filters</button>

  <div class="col-lg-2 col-xs-12" *ngIf="this.recipesToPassDown.length > 0">
    <select id="quantity" class="browser-default custom-select" (change)="this.changeGroup()" [(ngModel)]="recipeGroup">
      <option value="All Recipes">All Recipes</option>
      <option value="salad">Salad</option>
      <option value="protein">Protein</option>
      <option value="sauce">Sauce</option>
      <option value="garnish">Garnish</option>
      <option value="dessert">Dessert</option>
      <option value="meal">Meal</option>
    </select>
  </div>
  <div class="col-lg-2 col-xs-12" *ngIf="this.recipesToPassDown.length > 0">
    <select id="quantity" class="browser-default custom-select" (change)="this.changeNutrient(nutrientToSearch)"
      [(ngModel)]="nutrientToSearch">
      <option value="ENERC_KCAL">Calories</option>
      <option value="PROCNT">Protein</option>
      <option value="CHOCDF">Carbs</option>
      <option value="NA">Salt</option>
      <option value="FAT">Fat</option>
    </select>
  </div>
  <div class="col col-xs-12 pl-4" *ngIf="higherInput && this.recipesToPassDown.length > 0">
    <ng5-slider (userChange)="this.filter()" [(value)]="lowerInput" [(highValue)]="higherInput" [options]="options">
    </ng5-slider>
  </div>
</div>
<app-all-recipes-view
 [subRecipes]="this.subRecipes"
 [recipes]="this.filteredRecipes"
 [isCreateRecipeActive]="this.isCreateRecipeActive"
 (addRecipe)="this.create($event)">
</app-all-recipes-view>
