<div class="mx-5 my-2">
  <div class="row card-deck no-gutters">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 my-3" *ngFor="let recipe of recipes">
      <div class="card" style="cursor: pointer" 
      (click)="this.openSingleRecipe(recipe.id, recipe.type)">
        <div class="card-header">
            <h5 class="card-title d-inline col-9 p-0">
            {{recipe.title}}
            </h5>
            <button class="btn btn-gray btn-sm mb-1 float-right col-3" *ngIf="this.isCreateRecipeActive && recipe.type !== 'meal'" (click)="this.create(recipe)" >Add</button>
        </div>
        <div class="card-body">
          <div class="d-flex justify-content-around">
            <div class="align-self-center">
              <img
                src="{{recipe.image}}">
            </div>
            <div>
              <div><h6>Nutrition Info:</h6></div>
              <div class="d-flex justify-content-between">
                <span class="nutrient-name">
                  {{recipe.recipeNutrition.ENERC_KCAL.description}}:
                </span>
                <span>
                  {{recipe.recipeNutrition.ENERC_KCAL.value.toFixed(0)}} {{recipe.recipeNutrition.ENERC_KCAL.unit}}
                </span>
              </div>
              <div class="d-flex justify-content-between">
                <span class="nutrient-name">
                  {{recipe.recipeNutrition.PROCNT.description}}:
                </span>
                <span>
                  {{recipe.recipeNutrition.PROCNT.value.toFixed(0)}} {{recipe.recipeNutrition.PROCNT.unit}}
                </span>
              </div>
              <div class="d-flex justify-content-between">
                <span class="nutrient-name">
                  Carbs:
                </span>
                <span>
                  {{recipe.recipeNutrition.CHOCDF.value.toFixed(0)}} {{recipe.recipeNutrition.CHOCDF.unit}}
                </span>
              </div>
              <div class="d-flex justify-content-between">
                <span class="nutrient-name">
                  {{recipe.recipeNutrition.NA.description}}:
                </span>
                <span>
                  {{recipe.recipeNutrition.NA.value.toFixed(0)}} {{recipe.recipeNutrition.NA.unit}}
                </span>
              </div>
              <div class="d-flex justify-content-between">
                <span class="nutrient-name">
                  {{recipe.recipeNutrition.FAT.description}}:
                </span>
                <span>
                  {{recipe.recipeNutrition.FAT.value.toFixed(0)}} {{recipe.recipeNutrition.FAT.unit}}
                </span>
              </div>

            </div>

          </div>
          <!-- <div class="my-2">
            Ingredients:
          </div> -->
          <!-- <div class="pr-5">
            <span *ngFor="let ingredient of recipe.ingredients; let i = index">
              <span *ngIf="i !== recipe.ingredients.length-1">{{ingredient.productDescription}}, </span>
              <span *ngIf="i === recipe.ingredients.length-1">{{ingredient.productDescription}}</span>
            </span>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>

