#quantity {
  float: right;
  width: 100px;
  height: 28px;
  font-size: 12px;
  margin-right: 4px;
}

#btn-add {
  float: right;
  width: 100px;
  height: 28px;
  font-size: 12px;
  margin-right: 4px;
  background-color: #007bff;
  color: white;
}
