<div class="modal-header">
  <h4 class="modal-title">Select size</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div *ngFor="let measure of measureToPrint" class="d-flex align-items-center justify-content-center">
    <p style="font-size: 16px" class="col">{{measure.measure}}: {{measure.gramsPerMeasure}}g</p>
    <select id="quantity" class="browser-default custom-select col-3" #quantity
    (change)="this.log(measure.id, quantity.value)">
      <option value="0.5" selected>Half</option>
      <option value="1" selected>One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
      <option value="4">Four</option>
    </select>
    <button id="btn-add" class="col-2 btn-sm" (click)="this.addIngredient(measure.gramsPerMeasure , measure.measure)">
      Add
    </button>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss()">Close</button>
</div>
