input.ng-invalid {
    border-left: 5px solid red;
  }
  
  input.ng-valid {
    border-left: 5px solid green;
  }
  .col-3 {
    flex: initial;
    max-width: 25%;
    margin: auto;
    width: 50%;
    padding: 10px;
  }
  