<h4 style="margin-top: 30px" class="text-center">Login</h4>
<form class="col-3" [formGroup]="loginForm" (ngSubmit)="login()">
<div class="form-group">
<label for="username">Username</label>
<input class="form-control" id="username-input" #username placeholder="Username" formControlName="username">
</div>
<div *ngIf="username.invalid && username.dirty && username.value"
class="alert alert-danger" role="alert">
  Not a correct user!
</div>
<div class="form-group">
  <label for="Password">Password</label>
  <input type="password" class="form-control" id="password-input" placeholder="Password" formControlName="password">
  </div>
<button type="submit" class="btn btn-primary"
[disabled]="!this.username.valid && !this.password.valid">
Login
</button>
</form>
