<div class="modal-header">
    <h4 class="modal-title" id="modal-title">DELETE PERMANENTLY</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="this.activeModal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>Are you sure you want to delete this?</strong></p>
    <p>This item will be permanently deleted.
    <span class="text-danger">This operation can not be undone.</span>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="activeModal.dismiss()">Cancel</button>
    <button type="button" class="btn btn-danger" (click)="this.submit()">Ok</button>
  </div>
  