<div class="bg-light" *ngIf="!this.toggled">
  <div class="row mx-2 form-group d-flex align-items-center" [formGroup]="this.recipeFormGroup">
    <div class="col-6 px-2">
      <input type="text"
        class="border border-primary border-top-0 border-left-0 border-right-0 bg-transparent rounded-0 browser-default form-control ng-pristine ng-valid ng-touched form-control"
        placeholder="Enter your recipe name here" formControlName="recipeName">
      <div *ngIf="recipeName.invalid && recipeName.dirty && recipeName.value" style="color: red" class="alert"
        role="alert">
        Recipe name must be atleast 3 letters long!
      </div>
    </div>
    <div class="col-6">
      <div class="">
        <select *ngIf="this.subRecipes.length === 0 && !updateIsActive"
          class="browser-default custom-select form-control border border-primary border-top-0 border-left-0 border-right-0 bg-transparent rounded-0 browser-default custom-select"
          formControlName="recipeType">
          <option [ngValue]="null" selected>Select your recipe type</option>
          <option value="salad">Salad</option>
          <option value="protein">Protein</option>
          <option value="sauce">Sauce</option>
          <option value="garnish">Garnish</option>
          <option value="dessert">Dessert</option>
        </select>
        <h5 class="meal" *ngIf="this.subRecipes.length > 0">Meal</h5>
        <h5 class="meal" *ngIf="this.subRecipes.length === 0 && updateIsActive">{{recipeType.value | titlecase}}</h5>
      </div>
    </div>
    <div class="col-12 mt-3">
      <button type="button" class="btn btn-gray float-left" (click)="this.openProductsModal()">
        Add ingredients
      </button>
      <button *ngIf="!updateIsActive" type="button" class="btn btn-gray float-right" (click)="this.toggle()">
        Add recipe
      </button>
      <button *ngIf="updateIsActive && recipeType.value === 'meal'" type="button" class="btn btn-gray float-right"
        (click)="this.toggle()">
        Add recipe
      </button>
    </div>
  </div>
  <div class="row pt-5 mx-2">
    <div class="col-6 pb-5">
      <span *ngIf="this.subRecipes.length > 0">
        <h5>Recepies:</h5>
        <span style="margin-right: 10px" *ngFor="let recipe of subRecipes">{{recipe.title}} <span
            style="cursor: pointer">
            <i style="font-size: 16px" class="fas fa-times" (click)="this.deleteRecipe(recipe)"></i></span></span>
      </span>
      <h5>Ingredients:</h5>
      <div class="row ml-2">
        <div class="col-12" *ngFor="let ingredient of ingredients">
          <span>{{ingredient.productDescription}}: {{ingredient.amount}} g.</span>
          <span style="cursor: pointer" (click)="this.deleteIngredient(ingredient)"><i
              class="fas fa-times float-right"></i></span>
          <span style="cursor: pointer" (click)="this.updateIngredient(ingredient)">
            <i class="fas fa-pencil-alt float-right"></i></span>
        </div>
        <span *ngIf="this.ingredientsToCreateRecipe.length === 0 && !this.updateIsActive && subRecipes.length === 0"
          style="color: red" class="alert alert" role="alert">
          You must add ingredients to create a recipe!
        </span>
        <span *ngIf="this.ingredientsToCreateRecipe.length === 0 && this.updateIsActive && subRecipes.length === 0"
          style="color: red" class="alert alert" role="alert">
          You must have atleast one ingredient to update the recipe!
        </span>
      </div>
    </div>
    <div class="col-6 pb-5 nutritional-info-border">
      <h5>Nutritional Info:</h5>
      <div class="d-flex justify-content-between input-bottom">
        <span>
          Energy:
        </span>
        <span *ngIf="this.nutritionInfo">
          {{this.nutritionInfo.ENERC_KCAL.value.toFixed(0)}} kcal
        </span>
        <span *ngIf="!this.nutritionInfo">
          0 kcal
        </span>
      </div>
      <div class="d-flex justify-content-between input-bottom">
        <span>
          Protein:
        </span>
        <span *ngIf="this.nutritionInfo">
          {{this.nutritionInfo.PROCNT.value.toFixed(0)}} g
        </span>
        <span *ngIf="!this.nutritionInfo">
          0 g
        </span>
      </div>
      <div class="d-flex justify-content-between input-bottom">
        <span>
          Carbs:
        </span>
        <span *ngIf="this.nutritionInfo">
          {{this.nutritionInfo.CHOCDF.value.toFixed(0)}} g
        </span>
        <span *ngIf="!this.nutritionInfo">
          0 g
        </span>
      </div>
      <div class="d-flex justify-content-between input-bottom">
        <span>
          Sodium:
        </span>
        <span *ngIf="this.nutritionInfo">
          {{this.nutritionInfo.NA.value.toFixed(0)}} mg
        </span>
        <span *ngIf="!this.nutritionInfo">
          0 mg
        </span>
      </div>
      <div class="d-flex justify-content-between input-bottom">
        <span>
          Fat:
        </span>
        <span *ngIf="this.nutritionInfo">
          {{this.nutritionInfo.FAT.value.toFixed(0)}} g
        </span>
        <span *ngIf="!this.nutritionInfo">
          0 g
        </span>
      </div>
    </div>
    <div class="py-4 col-12" *ngIf="!updateIsActive">
      <button type="button" class="btn w-100 btn-primary"
        (click)="this.CreateRecipe(recipeName.value , recipeType.value)" [disabled]="(!recipeName.value || !recipeName.valid) ||
         (!recipeType.value && subRecipes.length === 0) ||
          (ingredientsToCreateRecipe.length === 0 && subRecipes.length === 0)">
        Create Recipe
      </button>
    </div>
    <div class="py-4 col-12" *ngIf="updateIsActive">
      <button type="button" class="btn w-100 btn-primary"
        (click)="this.updateRecipe(recipeName.value , recipeType.value)" [disabled]="(!recipeName.value || !recipeName.valid) ||
        (!recipeType.value && subRecipes.length === 0) ||
         (ingredientsToCreateRecipe.length === 0 && subRecipes.length === 0)">
        Update Recipe
      </button>
    </div>
  </div>
</div>
<app-recipes *ngIf="this.toggled"
 [(isCreateRecipeActive)]="this.toggled" 
 (addRecipe)="this.addRecipe($event)"
 [subRecipes]="subRecipes">
</app-recipes>
