input.title::-webkit-input-placeholder {
    font-size: 20px;
    color: #A7B3BF;
}

.nutritional-info-border{ 
    border-left: 1px solid #C0C7CA;
}
.bg-light {
    color: 00CECB;
    margin: 15px;
}
.browser-default.custom-select {
    margin: 15px;
    width: 94%;
}
.w-100.title.input-bottom {
    margin: 15px;
    height: 90px;
    background-color: transparent;
}
.fas.fa-times {
    margin-left: 8px;
    font-size: 22px;
}
.fas.fa-pencil-alt {
    font-size: 19px;
}
.btn.btn-gray {
    margin-top: 10px;
    width: 45%;
}
.meal {
    margin-top: 25px;
    text-align: center;
}
input.ng-invalid {
    border-left: 5px solid red;
  }
  
  input.ng-valid {
    border-left: 5px solid green;
  }