/* You can add global styles to this file, and also import other style files */
body { 
    background-color: #EAEAEA !important;
}

.btn-gray {
    background: #00CECA !important;
    color: #ffffff !important;
}

.input-bottom {
    border: 0;
    outline: 0;
    border-bottom: 1px solid #C0C7CA;
}
.modalList.modal-dialog {
  max-width: 70%;
  width: 70%;
}

